* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 10px 24px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
}

/***** HEADER *****/

.header {
    padding: 0 10%;
    display: flex;
    align-items: center;
    height: 3.5rem;
    background-color: #A21D1D;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    color: #e4e6e7;
    flex: 1;
}

.menus {
    display: flex;
    gap: 18px;
}

.menu {
    list-style-type: none;
    color: #e4e6e7;
}

/***** HERO *****/

.hero {
    background-color: #A21D1D;
    padding: 48px 10%;
    height: 70vh;
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;
}

.hero-text {
    color: #e4e6e7;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 12px;
}

.hero-desc {
    font-size: 18px;
    margin-bottom: 12px;
}

.hero-btn {
    background-color: #645d36;
    color: #e4e6e7;
}

.hero-img {
    max-width: 900px;
    height: auto;
}

/***** INFO *****/

.infos {
    padding: 54px 10%;
}

.info-title {
    text-align: center;
    font-size: 36px;
    color: #A21D1D;
    margin-bottom: 54px
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.info {
    text-align: center;
}

.info-img {
    margin-bottom: 12px;
    border-radius: 12px;
    border: 5px solid #A21D1D;
}

.info-desc {
    color: #A21D1D;
    font-weight: bold;
    font-size: 18px;
}

/***** QUOTE *****/

.quote-container {
    padding: 100px 10%;
    background-color: #E5E7EB;
    color: #A21D1D;
    text-align: end;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}

/***** CONTACTS *****/

.contact-container {
    padding: 54px 10%;
    align-items: center;
}

.contact {
    background-color: #A21D1D;
    padding: 48px 100px;
    border-radius: 18px;
    color: #e4e6e7;
    display: flex;
    justify-content: space-between;
}

.contact-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 6px;
}

.contact-btn {
    color: #A21D1D;
}

/***** Footer *****/

footer {
    background-color: #A21D1D;
    display: flex;
    height: 54px;
    color: #e4e6e7;
    justify-content: center;
    align-items: center;
}